<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>barosem.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>9</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C443F2A3343DE9C5B9EF3923011196E7AB261818</string>
				<key>dateExpires</key>
				<string>2024/10/07</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C443F2A3343DE9C5B9EF3923011196E7AB261818</string>
						<key>dateExpires</key>
						<string>2024/10/07</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CropPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GNK8V4DLG</string>
						<key>name</key>
						<string>Woongjin Holdings Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8GNK8V4DLG.com.wjthinkbig.adhoc-barosem</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8GNK8V4DLG</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>barosem.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b9193092-5521-4392-a6ee-8ce7a5dde5ec</string>
				<key>dateExpires</key>
				<string>2023/04/12</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.wjthinkbig.adhoc-barosem</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8GNK8V4DLG</string>
				<key>name</key>
				<string>Woongjin Holdings Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.2</string>
		</dict>
	</array>
</dict>
</plist>
